<a href="https://colab.research.google.com/github/tinkercademy/ml-notebooks/blob/main/02_Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python

In this notebook, we'll do some very basic Python to get you warmed up with programming. Experienced coders can try the exercises the end of each section, or if you already know intro Python, move ahead to the next notebook.

## Variables

Variables are used to store data. In Python, we use `=` to *assign* data from the right item, to the variable name in the left item. For example:

Start your variables with letters--you can't use numbers, so `3banana` is not a valid variable name. For variables with many words, use underscores: `three_banana` or camel case: `threeBanana`.

## Printing

Use `print` to send information from your code to the results bar, underneath the cell.

## Operators

You can do math in Python! It's like a really expensive (and clunky) calculator.

## Types

Variables have **types**, of which you've seen three: **int**s (integers, whole numbers), **float**s (decimal numbers), and **str**s (strings of text, with inverted commas around them--single or double inverted commas are fine, as long as you're consistent).

### <font color="red">Exercise 1A: More operators</font>

Why stop at four when we have more? Try to `print` these out, and write comments (with `#` in front) to say what they do.

In [ ]:
a = 5 ** 2
b = 3 ** 3
c = 4 ** 5
d = 15 // 12
e = 12 // 15
f = 200 // 50
g = 200 // 51
h = 6 % 2
i_need_better_variable_names = 5 % 2
j = 9 % 5
k = 6 % 6
l = 0 % 7

### <font color="red">Exercise 1B: Calculate and print

What if I want to calculate the age of someone who's 3x my age?

Edit the variables below, and print: "3 times my age is 108".

In [ ]:
age=99  #CHANGE ME
n=5001  #CHANGE ME
print(n,"times my age is",age) #this line needs fixing! FIXME!

### <font color="red">Exercise 1C: Seconds in a year

Let's use Python as a glorified calculator again. Below is some code to help you get started--can you figure out how many seconds there are in a year?

In [ ]:
num_seconds_in_minute = 60
num_minutes_in_hour = 0 # FIXME
num_hours_in_day = 0 # FIXME
num_days_in_year = 0 #FIXME
total = ____ * ____  # FIXME
print("The number of seconds in a year is",total)

### <font color="red">Exercise 1D: Pixels

You are given the width and height of a screen in pixels. Calculate the total number of pixels on the screen and store them in a variable called `numberOfPixels`.

In [ ]:
height = 1920
width = 1080

# Your code here

# Some code to print out the results
print("For a screen with height", height, "pixels")
print("And width", width, "pixels")
print("The total number of pixels is", numberOfPixels)

### <font color="red">Exercise 1E: Boys and girls

Calculate the percentage of boys (`percentBoys`) and the percentage of girls (`percentGirls`) in a class, and print it out.

In [ ]:
numberOfBoys = 60
numberOfGirls = 20

# Your code here

<hr>

## Functions

A function is a piece of reusable code that lets you run it again and again, but possibly with different parameters. Try running this function below with some different parameters:

There are some useful built-in functions, too! You've been using `print`, a function that prints things out. Let's now use it to print the results of other functions:

Some functions are in _modules_, e.g. the `math` module. To get started, you have to first `import math`, then try the functions within. Here is some gratuitious trigonometry:

### <font color="red">Exercise 2A: Errors

If you make a typo, Python will give you an error. Some may look cryptic, but you can try to figure out what they're telling you based on the line of the error. Try running the below, and identifying the errors in the code.

In [ ]:
name = "Banana

In [ ]:
age = 55
weeks_lived = age * weeksPerYear

In [ ]:
pront("Hello")

### <font color="red">Exercise 2B: Cube

Write a function, `cube(n)`, that takes in a number, `n`, and prints out the cubed result.

In [ ]:
def cube(n):
    result = 0 # FIXME
    print("The result is",result)

cube(3) # this line is to test your code

### <font color="red">Exercise 2C: Using functions

Before running the code below, try predicting what each `print` statement will tell you. Can you explain what's going on with the third `max` function call, between `rich` and `poor`?

In [ ]:
a_string = "abc"
print(max(a_string))

In [ ]:
rich = "gold"
poor = "tin"
print(max(len(rich), len(poor)))

In [ ]:
print(max(rich, poor))

<hr>

## Lists

So far, we've stored information in single variables. This would be unwieldy if we're dealing with a lot of data, e.g. weather readings over a year--imagine declaring variables `rainfall1`, `rainfall2`, `rainfall3`, etc.

We're going to introduce **lists** here--a way to store multiple pieces of data in one variable. The first list here is a list of pressure values, defined within square brackets `[]`, separated by commas:

You can also access individual elements in a list, by using the **square bracket notation** -- add a square bracket after your variable name, then have a number in it with the **index** of the element you want to access. Computer scientists count from 0, so if you want the first item, it's at index 0; second item is at index 1.

There are some list functions you can use. How do you find out about them? [Search](https://encrypted.google.com/search?q=python+list+functions)!

Here's something you can do with lists: **slice** them using the slice operator, a colon. Instead of providing a single number in the index, get back part of the list by providing a range of numbers, for example:

### <font color="red">Exercise 3A: I got a list, here's the order of my list that it's in

Here's a list. Can you do the following manipulations to it?

* Append “apple” and 76 to the list.
* Insert the value “cat” at index 3.
* Insert the value 99 at the start of the list.
* Find the index of “hello”.
* Count the number of 76s in the list.
* Remove the first occurrence of 76 from the list.

Print out your final list to check your answer.

In [ ]:
myList = [76, 92.3, 'hello', True, 4, 76]
# Space for your working here

### <font color="red">Exercise 3B: Fill in the blanks

Fill in the blanks so that the program below produces the output shown:

first time: [1, 3, 5]
second time: [3, 5]

In [ ]:
values = []
values.____(1)  #hint: we need to add values to the list somehow!
values.____(3)
values.____(5)
print('first time:', values)
values = values[____]  #hint: use list slicing!
print('second time:', values)

<hr>

## Loops

Now that we have lists, we want to be able to work on the data within them at one swoop, i.e. not have to edit `item[0]`, `item[1]`, `item[2]` one by one. For this, we can use a loop.

A loop starts with `for`, ends with a colon, and subsequent lines are indented:

### <font color="red">Exercise 4A: Multiply everything

Given a list of values, print out 2x of everything. E.g. [1, 2, 3] will print out

2
4
6

In [ ]:
values = [1,2,3,4]

for i in values:
    print(i) #FIXME

### <font color="red">Exercise 4B: Square everything

Given a list of values, print out the square of everything. E.g. [1, 2, 3] will print out

1
4
9

In [ ]:
values = [1,2,3,4]
for i in values:
    print(i) #FIXME

### <font color="red">Exercise 4C: Print this Christmas tree using a loop

*
**
***
****

In [ ]:
# some starter code
for i in range(4):
    print("*")

<hr>

## Conditionals

To have Python make decisions for us, we use `if` statements. These control whether blocks of code are run or not. Structurally, they're similar to `for` loops; you start with an `if`, end with a colon, and indent the block of code you want to run conditionally:

That seemed rather pointless, because we _knew_ what the values were before we ran the loop. Conditionals become more useful when dealing with data we don't define ourselves, e.g. when the data comes in a list:

`else` can be used following an `if`, to specify an alternative course of action:

and `elif` can be used to define more conditions:

### <font color="red">Exercise 5A: Print this list, but numbered

Given a list of values, print them out, but with numbering. E.g.:

Day 1 reading: 0.44
Day 2 reading: 0.01
Day 3 reading: 0.24

Note: this first exercise doesn't use conditionals, but the following ones will!

In [ ]:
readings = [0.44, 0.01, 0.24]
index = 1 # hint!

for r in readings:
    print(r) # FIXME

### <font color="red">Exercise 5B: Panic if something is too low

Same as above, but insert a huge warning if the value is below 0.1.

Day 1 reading: 0.44
Day 2 reading: 0.01 . WHAT! THIS IS TOO LOW!
Day 3 reading: 0.24

In [ ]:
readings = [0.44, 0.01, 0.24, 0.02]
index = 1 # hint!

for r in readings:
    print(r) # FIXME

### <font color="red">Exercise 5C: Generate multiples

Print out all the positive multiples of 7 that are smaller than 200. The largest number printed should be 196. It's OK to print 0 to start out.

In [ ]:
for i in range(200):
    print(i) #FIXME

### <font color="red">Exercise 5D: Multi-multiples

Print out all the positive multiples of 7 _or_ 13 that are smaller than 200.

<hr>

## Further reading

Want to learn more? We recommend the following:

* [How to think like a Computer Scientist](https://runestone.academy/ns/books/published/thinkcspy/index.html), an interactive online book
* [Learn Python the Hard Way](https://learnpythonthehardway.org/) has lots of exercises to try
* [Automate the Boring Stuff with Python](https://automatetheboringstuff.com/), for your lifehacks. Also available on Udemy as video.